* {
  box-sizing: border-box;
}

#container {
  height: 500px;
  width: 250px;
  background-color: lightblue;
  margin: 25px auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 1.5rem;
  border-radius: 10px;
  -webkit-box-shadow: 0px 3px 12px 2px rgba(20, 20, 61, 0.74);
  box-shadow: 0px 3px 12px 2px rgba(20, 20, 61, 0.74);
}

#pop-up {
  display: none;
  flex-direction: column;
  width: 300px;
  height: 200px;
  background-color: lightgreen;
  padding: 15px;
  position: fixed;
  top: calc(50% - 50px);
  left: calc(50% - 150px);
  z-index: 1000;
  border-radius: 10px;
  padding-bottom: 25px;
  transition: all 0.2s;
  -webkit-box-shadow: 0px 3px 12px 2px rgba(20, 20, 61, 0.74);
  box-shadow: 0px 3px 12px 2px rgba(20, 20, 61, 0.74);
}

#pop-up label {
  display: block;
  text-align: center;
}

#pop-up input {
  display: block;
  margin: 15px auto;
}


#pop-up:hover,
#pop-up:focus-within {
  transform: scale(1.5);
}

ul {
  list-style-type: none;
}

#black-screen {
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: rgba(128, 128, 128, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(15px);
  z-index: 100;
}

#close-window {
  position: relative;
  left: 90%;
}

#add-btn {
  font-size: 1.2rem;
  height: 40px;
  padding: 5px;
  margin: 15px auto 0 auto;
  width: 80%;
  border-radius: 10px;
  transition: all 0.3s;
  white-space: nowrap;
}

#add-btn:focus,
#add-btn:hover {
  cursor: pointer;
  background-color: orange;
}

#new-ingredient {
  width: 80%;
  height: 30px;
}

#new-ingredient:focus {
  background-color: lightyellow;
}

#submit {
  border-radius: 5px;
  padding: 8px 16px;
}

#submit:focus,
#submit:hover {
  background-color: orange;
}