#main {
    width: 75%;
    margin: auto;
    text-align: center;
    background-color: rgb(170, 177, 182);
}

img {
    width: 30%;
    max-width: 100%;
    text-align: center;
    margin: 0 auto 25px auto;
    display: block;
}

html {
    font-family: sans-serif;
}

h1 {
    font-family: "Times New Roman", Times, serif;
}

ul {
    text-align: left;
}