:root {
  --dark-red-background: #5C1B15;
}
body {
  background-color: #C4D6B0;
}

* {
  margin: 0;
  padding: 0;
}

header {
    background-color: var(--dark-red-background);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 2%;
    height: 4rem;
    margin-bottom: 2rem;
}

.main-header {
  display: flex;
  width: 50%;
  justify-content: center;
}

.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.nav-link {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    margin-left: 20px;
    height: 100%;
    transition: 0.3s ease;
}

.nav-link:hover {
    background-color: #FE0000;
}
#cards-holder {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  grid-gap: 1rem;
  padding: 0 2rem;
}
#cards-holder h2 {
  grid-column: 1 / -1;
  margin: 0 -2rem;
  background-color: var(--dark-red-background);
  height: 3rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.book-card {
  background-color: #FCDE9C;
  border-radius: 10px;
  padding: 1rem 1rem 1rem 2rem;
}

footer {
  background-color: var(--dark-red-background);
  height: 2rem;
  color: #b0b0b0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.copyright {
  font-style: italic;
}


.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
}

.content {
  filter: blur(5px);
}


.overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 25rem;
  width: 20rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 100;
  border-radius: 5%;
  background-color: #C4D6B0;
}

.overlay label {
  font-family: sans-serif;
}

.overlay > form > label {
  display: block;
  margin: 1rem 0;
  font-size: 1.2rem;
}
.overlay > form > label > input {
  margin-top: 0.3rem;
  display: block;
  width: 100%;
  height: 1.5rem;
  font-size: 1.2rem;
}
.overlay form > label > input:focus {
  outline: 2px solid #009FB7;
}

.login-form {
  width: 80%;
}
.submit-block {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
}
.submit-block > input {
  width: 5rem;
  height: 1.5rem;
  color: white;
  background-color: #009FB7;
  transition: 0.3s ease;
  font-size: 1.2rem;
}
.submit-block > input:hover {
  background-color: #FE0000;
}

@media screen and (max-width: 768px) {
  #cards-holder {
    display: flex;
    flex-direction: column;
  }
  header {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .main-header {
  width: 100%;
  }
}
