#house {
    position: relative;
    width: 500px;
    height: 200px;
    background-color: burlywood;
    margin: 250px auto;
    border: 2px solid rgb(80, 20, 20);


}

#house div {
    position: absolute;
    border: 2px solid rgb(80, 20, 20);
}

#chimney {
    width: 70px;
    height: 90px;
    background-color: grey;
    top: -220px;
    left: 330px;
    border: 2px solid rgb(80, 20, 20);
    z-index: -1;
}

#roof {
    width: 500px;
    height: 150px;
    background-color: brown;
    top: -150px;
    left: -1px;
    border-top-left-radius: 70%;
    border-top-right-radius: 70%;
    border: 2px solid rgb(80, 20, 20);
}

#window-1 {
    width: 80px;
    height: 100px;
    top: 20px;
    left: 50px;
    border: 2px solid rgb(80, 20, 20);
}

#window-1,
#window-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;

}

#window-1 div,
#window-2 div {
    width: 20px;
    height: 30px;
    border: 1px solid rgb(80, 20, 20);
    background-color: lightblue;
}

#window-2 {
    width: 80px;
    height: 100px;
    top: 20px;
    left: 380px;
    border: 2px solid rgb(80, 20, 20);
}

#door {
    width: 100px;
    height: 140px;
    background-color: sienna;
    bottom: 0;
    left: 200px;
    border: 2px solid rgb(80, 20, 20);
}