* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #c31432;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #240b36, #c31432);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #240b36, #c31432);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-size: 16px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.calculator {
    width: 370px;
    height: 580px;
    background-color: black;
    margin: 70px auto;
    border-radius: 20px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.display {
    color: white;
    font-size: 60px;
    text-align: end;
    padding-top: 3%;
    margin-bottom: 15px;
    height: 80px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    overflow: hidden;
    word-break: break-all;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 15px;
    margin-top: 45px;
    position: static;
}

.button {
    border: none;
    color: white;
    background-color: rgba(128, 128, 128, 0.4);
    border-radius: 50px;
    width: 70px;
    height: 70px;
    font-size: 20px;
}

.zero-btn {
    grid-column: span 2;
    width: 150px;
}

.btn-orange {
    background-color: orange;
}

.btn-gray {
    background-color: gray;
}