@media screen and (min-width: 901px),
screen and (orientation: landscape) {
    #navbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 300px;
        height: 100%;
        display: flex;
        flex-direction: column;
        border-right: 5px solid rgb(43, 14, 63);
        background-color: rgb(239, 231, 244);
        gap: 7px;
        overflow-y: scroll;
    }

    #main-doc {
        margin-left: 300px;
        width: calc(100% - 300px);
        background-color: rgb(239, 231, 244);
    }

    p,
    pre,
    code {
        padding-left: 20px;
    }

    section {
        padding-bottom: 20px;
        background-color: rgb(222, 219, 234);
        border-radius: 0 0 10px 10px;
    }

    header {
        background-color: rgb(149, 147, 156);
        display: block;
        width: 100%;
    }

    .nav-link {
        border-top: 1px solid black;
        display: block;
        padding-top: 1vw;
        padding-bottom: 1vw;
        width: 90%;
        text-align: center;
        margin: 0 auto 0 auto;
        background: rgb(222, 219, 234);
        border-radius: 10px;
        text-decoration: underline 2px;
        text-underline-offset: 5px;
    }

    .nav-link:visited {
        color: black
    }

    body {
        font-size: 18px;
        font-family: sans-serif;
    }
}

.nav-link:hover {
    background-color: rgb(235, 241, 222);
}

html {
    scroll-behavior: smooth;
}