* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #6f9fb3;
}

#header-img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.img-container {
  display: inline-block;
  width: 6vw;
  height: 6vh;
  overflow: hidden;
  margin-right: 1rem;
}

.brand {
  display: flex;
  align-items: center;
}

#nav-bar {
  display: flex;
  gap: 1.5rem;

}

h1,
h2,
h3 {
  color: white;
  background-color: #351d57;
}

h1 {
  display: inline-block;
}

h2 {
  margin-top: 2rem;
  font-size: 2rem;

}

li h3 {
  margin-bottom: 1rem;
  padding-left: 1rem;
}

li P {
  padding-left: 1.5rem;
}

label {
  display: block;
}

input {
  display: block;
  margin-top: 1rem;
}

input[type="email"] {
  height: 1.5em;
  font-size: 1.3em;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
  background-color: #351d57;
  position: sticky;
  top: 0;
  width: 100%;
}

#submit {
  width: 12vw;
  height: 6vh;
  text-transform: uppercase;
  background-color: #5cc43d;
  transition: background-color 0.5s;
}

#submit:hover {
  background-color: orange;
  cursor: pointer;

}


.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.features {
  width: 50%;
  margin: 0 auto;
}

.features-list {
  list-style: none;
}

.features-list li {
  display: grid;
  grid-template-columns: 10% 1fr;
  margin: 2rem auto 3rem auto;
}

.feature-icon {
  font-size: 3rem;
  line-height: 1;
  color: orangered;
}

.feature-text {
  margin-left: 1rem;
}

.video-container {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  margin-bottom: 4em;
}

.video-container iframe {
  width: 80%;
  max-width: 560px;
  aspect-ratio: 16/9;
  border: none;
}

#pricing {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 60%;
  margin: 0 auto;
  gap: 4rem;
}

.price-block {
  display: flex;
  flex-direction: column;
  border: 3px solid orangered;
  border-radius: 0 0 10px 10px;

}

.price-block p {
  padding: 0 2em;
  margin-bottom: 1.5rem;
}

.price-block .price {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  margin: 1.25rem auto;

}

.price-block h3 {
  background-color: #351d57;
  width: 100%;
  font-size: 2em;
  text-align: center;
}



.selected-item:hover {
  cursor: pointer;
  background-color: orange;
}

.selected-item {
  margin-top: auto;
  width: 70%;
  height: 5vh;
  background-color: #5cc43d;
  border-radius: 10px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s;
}

.selected-item a,
.nav-link {
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  color: white;

}

.nav-link:hover {
  color: orange;
  cursor: pointer;
}

footer {
  background-color: #351d57;
  color: white;
  text-align: center;
  padding: 1rem 0;
  margin-top: 2rem;
}



@media only screen and (max-width: 768px) {
  body {
    width: 100vw;
    ;
  }

  #header {
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }

  #nav-bar {
    flex-direction: column;
    gap: 0.5rem;
  }

  .features {
    width: 80%;
  }

  #pricing {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: 80%;
  }
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 1.2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .img-container {
    width: 20vw;
  }

  .features {
    width: 95%;
  }

  .features-list li {
    grid-template-columns: 20% 1fr;
    gap: 0.5rem;
  }

  .feature-icon {
    font-size: 2rem;
  }

  #pricing {
    width: 95%;
    gap: 1.5rem;
  }

  .price-block h3 {
    font-size: 1.5em;
  }

  .price-block .price {
    font-size: 1.5em;
  }

  #submit {
    width: 50vw;
  }
}