*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3b3157;
}

h1 {
  background-color: lightyellow;
  display: inline-block;
  margin-top: 150px;
  padding: 5px;
}

#text-input {
  border-radius: 10px;
  padding: 10px;
  display: inline-block;
  font-family: sans-serif;
  margin-top: 50px;
  background-color: #ccf1ff;
  font-size: 1.2rem;
}

#char-count {
  margin-top: 30px;
  font-size: 1.5rem;
  background-color: lightyellow;
  padding: 5px;
}