body {
    background-color: rgb(73, 73, 73);
}

h1 {
    text-align: center;
}

a:focus {
    outline: 2px solid red;
}

a:link {
    color: red;
}

a {
    text-decoration: none;
    border-bottom: 2px solid red;
}

a:visited {
    color: rebeccapurple;
}

a:hover {
    color: rgb(60, 1, 1);
}

a:active {
    color: red;
    outline: 2px solid red;
}

ul li {
    background-color: rgb(176, 175, 175);
    margin: 10px;
    border-radius: 10px;
    padding-bottom: 10px;
}

ul ul {
    padding: 0;
    list-style-type: square;
    list-style-position: inside;
    padding-left: 10px;

}

ul {
    padding: 0;
    list-style-type: none;

}



div {
    background-color: rgb(99, 52, 52);
    width: 300px;
    margin: auto;
    padding: 20px;
    border-width: 10px;
    border-radius: 20px;
    border-style: solid;
    border-color: gold;
    box-shadow: 0 0 10px rgba(156, 7, 7, 0.1);
    text-align: left;
}